* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

@media screen and (min-width:1644px) {
	#video {
		width: 40%;
		height: 400px;
		margin: 0 auto;
		margin-bottom: 2px;
		background-color: rgb(200, 200, 200);
		border: solid 1px black;
	}

	.buttons {
		margin: 0 auto;
		border: solid 1px black;
		text-align: center;
		width: 40%;

	}

	ul {
		margin: 5 auto;
		position: relative;
		padding: 0;
	}

	li {
		display: inline-block;
		position: relative;
	}

	button {
		width: 200px;
		height: 150px;
	}
}

@media screen and (min-width:1280px) and (max-width: 1643px) {
	#video {
		width: 50%;
		height: 400px;
		margin: 0 auto;
		margin-bottom: 2px;
		background-color: rgb(200, 200, 200);
		border: solid 1px black;
	}

	.buttons {
		margin: 0 auto;
		border: solid 1px black;
		text-align: center;
		width: 50%;

	}

	ul {
		margin: 5 auto;
		position: relative;
		padding: 0;
	}

	li {
		display: inline-block;
		position: relative;
	}

	button {
		width: 200px;
		height: 150px;
	}
}

@media screen and (min-width:980px) and (max-width: 1279px) {
	#video {
		width: 70%;
		height: 400px;
		margin: 0 auto;
		margin-bottom: 2px;
		background-color: rgb(200, 200, 200);
		border: solid 1px black;
	}

	.buttons {
		margin: 0 auto;
		border: solid 1px black;
		text-align: center;
		width: 70%;

	}

	ul {
		margin: 5 auto;
		position: relative;
		padding: 0;
	}

	li {
		display: inline-block;
		position: relative;
	}

	button {
		width: 200px;
		height: 150px;
	}
}

@media screen and (min-width:743px) and (max-width: 979px){
	#video {
		width: 90%;
		height: 400px;
		margin: 0 auto;
		margin-bottom: 2px;
		background-color: rgb(200, 200, 200);
		border: solid 1px black;
	}

	.buttons {
		margin: 0 auto;
		border: solid 1px black;
		text-align: center;
		width: 90%;

	}

	ul {
		margin: 5 auto;
		position: relative;
		padding: 0;
	}

	li {
		display: inline-block;
		position: relative;
	}

	button {
		width: 175px;
		height: 100px;
	}
}

@media screen and (min-width:600px) and (max-width: 742px){
	#video {
		width: 90%;
		height: 400px;
		margin: 0 auto;
		margin-bottom: 2px;
		background-color: rgb(200, 200, 200);
		border: solid 1px black;
	}

	.buttons {
		margin: 0 auto;
		border: solid 1px black;
		text-align: center;
		width: 90%;

	}

	ul {
		margin: 5 auto;
		position: relative;
		padding: 0;
	}

	li {
		display: inline-block;
		position: relative;
	}

	button {
		width: 160px;
		height: 100px;
	}
}

@media screen and (min-width:300px) and (max-width: 599px){
	#video {
		width: 100%;
		height: 400px;
		margin: 0 auto;
		margin-bottom: 2px;
		background-color: rgb(200, 200, 200);
		border: solid 1px black;
	}

	.buttons {
		margin: 0 auto;
		border: solid 1px black;
		text-align: center;
		width: 100%;

	}

	ul {
		margin: 5 auto;
		position: relative;
		padding: 0;
		list-style-type: none;
	}

	li {
		position: relative;
		display: inline-block;
	}

	button {
		width: 90px;
		height: 50px;
	}
}